<div class="user-details-bis">
    <h1>Education</h1>
    <div class="education-row">
        <div class="education-column">
            <h3>University of Technology Sydney</h3>
            <h4>Bachelor of Computer Science, Artificial Intelligence And Data Analytics (Honours)<br>(2019-2023)</h4>
            <a href="https://www.uts.edu.au/" target="_blank">
                <img src="assets/img/uts.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="University of Technology Sydney Logo">
            </a>
            <p>Graduated with a First Class Honours<br>Dean’s List Award</p>
        </div>
    </div>
</div>
