<div id="particles-js">
    <div class="header">
        <h1>
            <span class="site-title">{{ site.username }}</span>
            <span class="typewrite site-description" data-period="2250"
                  data-type='["Honours In Artifical Intelligence And Data Analytics"]'>
              <span class="wrap"></span>
            </span>
        </h1>
        <div class="header-icons">
            <a aria-label="My Youtube" target="_blank" href="https://www.youtube.com/@RizwanYe"><i
                    class="icon fa fa-youtube" aria-hidden="true"></i></a>
            <a aria-label="My LinkedIn" target="_blank" href="https://au.linkedin.com/in/rizwan-ye"><i
                    class="icon fa fa-linkedin" aria-hidden="true"></i></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/Rizwanye"><i
                    class="icon fa fa-github" aria-hidden="true"></i></a>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa-solid fa-down-long fa-bounce" aria-hidden="true"></i></a>
</div>
