<div class="user-details">
    <h1>Who Is Rizwan Ye?</h1>
    <p>
        I have a degree in Computer Science and Majored in Artifical Intelligence and data analytics with honours from <b>The University Of Technology Sydney</b>, during which I earned
        a <b>first class honours</b> and recieved a <i>Dean’s List Award</i> from the UTS Faculty of Engineering & Information Technology.
        <br><br>
        My goal is to combine the practical, theoretical and mathematical knowledge that the fields of machine learning
        and data science entail in order to develop <b>meaningful</b> and <b>efficient</b> solutions with direct contributions
        to real-life problems and to society. As both a data scientist, I truly enjoy digging deep into the data I work
        with to truly understand and build the best model possible that can be used in real-life scenarios.
        As a software engineer, I truly enjoy fully automated pipelines covered by extensive test suites, well
        version-controlled and documented code, analysing the data I'm working with, developing code using state-of-the
        art tools and always learning more by exploring different project.
    </p>
</div>
