<div class="user-details">
    <h1>Who Is Rizwan Ye?</h1>
    <p>
        I have a degree in Computer Science and Majored in Artifical Intelligence and data analytics with honours from <b>The University Of Technology Sydney</b>. I gradated with
        a <b>first class honours</b> and recieved a <i>Dean’s List Award</i> from the UTS Faculty of Engineering & Information Technology.
        <br><br>
        I am extremely passioante about the field of machine learning and especially data interpretability, in both military and civlian applications. Working in meaningful projects is what drives me each day.
        As a forever student, I truly enjoy digging deep into the projects I work with. Although this is a short introduction about me, my resume will show more about my job experience.
    </p>
</div>
