<div class="flex-row projects-list-title">
    <div class="flex-item flex-column full-width">
        <h1>Programming Projects</h1>
    </div>
</div>

<!-- Honours's Thesis -->
<div class="project">
    <div class="project-card">
        <div class="project-image">
            <img src="assets/img/XAIbank.png" alt="Image of Rizwan Ye's Honours Project">
        </div>
        <div class="project-info">
            <h3 class="project-title">
                Enhancing XAI Interpretability: Using Radar Charts to Simplify Feature Based Explanations and Reduce Cognitive Load (Honours's Thesis)
                <a class="github-button"
                   href="https://github.com/Rizwanye/XAI_Banking_Demo"
                   data-icon="octicon-star" data-show-count="true"
                   aria-label="Star Rizwanye/XAI_Banking_Demo">Star</a>
                <a class="github-button"
                   href="https://github.com/Rizwanye/XAI_Banking_Demo"
                   data-icon="octicon-repo-forked" data-show-count="true"
                   aria-label="Star Rizwanye/XAI_Banking_Demo">Fork</a>
            </h3>
            <p class="project-description">
                My honours research focuses within the field of Explainable Artifical Intelligence (XAI) and Visual Explainable Artifical Intelligence (vXAI). 
                This project was based on a hypothetical client "XAI Bank". As most ML models are black boxes and difficult to understand especially in the banking industry. This project focuses on improving interpretability and explainability 
                through the use of a tailor made radar chart combined with a large language model. 
                
                <br> <br> The web-app was able to generate automatic textual explanations for the end user combined with a radar chart to help explain
                the loan approval outcome. 
            </p>
            <div class="project-buttons">
                <button class="btn btn-2 btn-2a"
                        onclick="window.open('https://github.com/Rizwanye/XAI_Banking_Demo/blob/main/pages/RizwanYe_Honours_Report.pdf', '_blank');">
                    Read Paper
                </button>
                <button class="btn btn-2 btn-2a"
                        onclick="window.location.href = 'https://www.youtube.com/watch?v=daU6-F2Ww6o&t';">
                    Youtube Presentation
                </button>
                <button class="btn btn-2 btn-2a"
                        onclick="window.open('https://github.com/Rizwanye/XAI_Banking_Demo', '_blank');">
                    Github Code
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Object Classification -->
<div class="project">
    <div class="project-card">
        <div class="project-image">
            <img src="assets/img/object_detection.png" alt="Rizwan ye Object detection project">
        </div>
        <div class="project-info">
            <h3 class="project-title">Military Object Detection Project Built using Python (Undergraduate Project)
                <a class="github-button" href="https://github.com/Rizwanye/Military-Object-Detection"
                   data-icon="octicon-star" data-show-count="true"
                   aria-label="Star Rizwanye/Military-Object-Detection on GitHub">Star</a>
                <a class="github-button"
                   href="https://github.com/Rizwanye/Military-Object-Detection/fork"
                   data-icon="octicon-repo-forked" data-show-count="true"
                   aria-label="Fork Rizwanye/Military-Object-Detection on GitHub">Fork</a>
            </h3>
            <p class="project-description">
                This project utilised Python programming, specifically the yolov5 package to detect military assets such as soldiers, supply trucks and assult vehicles. It is trained on infra-red imagery of simulated objects from drone video footage.
                And launched as a web-application using flask.

                <br><br> This entire project was built by myself, from the dataset creation, to training the image classifier, which demonstrates my ability to innovate. The main goal of this project was to demonstrate how object detection can be useful in intelligence gathering and automation in the military context. 
            </p>
            <div class="project-buttons">
                <button class="btn btn-2 btn-2a"
                        onclick="window.open('https://www.youtube.com/watch?v=hLSiAEOvlas&t', '_blank');">
                    Youtube Presentation
                </button>
                <button class="btn btn-2 btn-2a"
                        onclick="window.location.href = 'https://github.com/Rizwanye/Military-Object-Detection';">
                    Github Code
                </button>

            </div>
        </div>
    </div>
</div>


</div>
