<div class="flex-row projects-list-title">
    <div class="flex-item flex-column full-width">
        <h1>My Favourite Books</h1>
    </div>
</div>

<div class="card-container">
    <div class="zoom-container">
        <img class="book-zoom" src="assets/img/book1.png">
        Introduction to Artificial Intelligence<br>PHILIP C. JACKSON
    </div>

    <div class="zoom-container">
        <img class="book-zoom" src="assets/img/book2.jpg">
        Networks Of The brain<br>Olaf Spoons
    </div>

    <div class="zoom-container">
        <img class="book-zoom" src="assets/img/book3.jpg">
        Mindware: Tools for Smart Thinking<br>Richard E. Nisbett
    </div>
</div>
<br>
