<div class="flex-row projects-list-title">
    <div class="flex-item flex-column full-width">
        <h1>Compelted Courses</h1>
    </div>
</div>

<div class="card-container">
    <div class="zoom-container">
        <img class="book-zoom" src="assets/img/ibm.png">
        Deep Learning and Reinforcement Learning<br>IBM
    </div>

    <div class="zoom-container">
        <img class="book-zoom" src="assets/img/deeplearning.png">
        Machine Learning Modeling Pipelines in Production<br>DeepLearning.Ai
    </div>

    <div class="zoom-container">
        <img class="book-zoom" src="assets/img/book3.jpg">
        Mindware: Tools for Smart Thinking<br>Richard E. Nisbett
    </div>
</div>
<br>
